body{
    background-color: rgb(250,250,250);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image{
    width: 370px;
    margin-top: 30px; 
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

@media (max-width: 770px) {
    .container{
        margin: 0 10%;

    }

    .image{
        width: 100%;
    }
}